<p style="color: green"><%= notice %></p>
<div class="container">
  <h1 class="text-3xl text-dark">Products</h1>
  <div style="display:flex; justify-content:space-between" class="p-5">
    <%= form_tag products_path, method: :get, data: { turbo_frame: "search-results", turbo_action: "advance", controller: "search", action: "input->search#submit" }, class: "form" do %>
        <%= text_field_tag :search, params[:search], class: "input-bordered w-80 max-w-xs", placeholder: "Search Here" %>
      <%= submit_tag "Search", class: "btn btn--primary" %>
    <% end %>

    <%= link_to "New Product", new_product_path, class: "btn btn--light"  %>
  </div>

  <%= turbo_frame_tag "search-results" do %>
  <div id="products" class="overflow-x-auto w-full">
    <table class="table w-full">
      <% if @products.empty? %>
        <p>No products found</p>
      <% else %>
        <% @products.each do |product| %>
          <%= render product %>
          <%#= link_to "Show this product", product_path(product), class:"btn btn-secondary" %>
        <% end %>
      <% end %>
    </table>
  </div>
  <% end %>
</div>